/*******************************
LAYOUT
*******************************/

body {
  font-family: 'Lato', helvetica, serif;
  font-size: 1em;
  /*background: url(../images/ricepaper_v3_@2X.png);*/
  background-color: rgb(68, 86, 94);
  color: white;
}


.main-container {
  width: 960px;
  margin: 0 auto;
  text-align: center;
}

.board-container {
  width: 420px;
  height: 420px;
  margin: 20px auto;
  background-color: rgb(46, 57, 62);
  border-radius: 30px;
  border: 5px solid snow;
  padding: 10px;
  box-shadow: 0 0 20px rgb(161, 161, 161);
}

.buttons-container {
  margin: 20px 0;
}

.rules {
  margin: 40px 0;
  padding: 0 150px;
}


/*******************************
BUTTONS
*******************************/
#level,
#start,
#reset,
#challenge_mode {
  border: none;
  border-radius: 10px;
  border: 3px solid white;
  color: white;
  background-color: rgb(46, 57, 62);
  box-shadow: 0 1px 10px rgb(102, 102, 102);
}


#challenge_mode {
  display: block;
  margin: 10px auto;
}

#level {
  width: 50px;
  height: 50px;
  margin: 5px auto;
  font-size: 2.5em;
}


/*******************************
COLORED SQUARES
*******************************/

.square {
  margin: 5.5px 5.5px;
  width: 190px;
  height: 190px;
  display: inline-block;
  border-radius: 40px;
  border: 3px solid white;
  box-shadow: 0 0 10px rgb(168, 168, 168);
}

#green {
  background-color: rgb(109,215,105);
}

#blue {
  background-color: rgb(115,205,204);
}

#red {
  background-color: rgb(254,73,83);
}

#yellow {
  background-color: rgb(253,251,94);
}


/*******************************
MISC
*******************************/
h1 {
  margin: 0;
  font-size: 5em;
}

h2,
p {
  text-align: left;
  line-height: 35px;
}



h3 {
  color: white;
  margin: 15px 0;
}
