@media screen and (min-width: 320px) and (max-width: 667px)
   html
    font-size 12px
   .main-container
     width 300px
     .board-container
        width 250px
        .square
          width 100px
          height 100px
     .rules
       padding 0 10px

@media screen and (min-width: 667px) and (max-width: 1024px)
   html
    font-size 14px
    .main-container
      width 600px
      .rules
        padding 0 20px
