
/*******************************
  LAYOUT
*******************************/
.main-container
  width 960px
  margin 0 auto
  text-align center

.board-container
  width 420px
  margin 0 auto
  padding 2.5%


/*******************************
  MISC
*******************************/
h1
  margin 0
  font-size 4em

/*******************************
  SQUARES
*******************************/
.square
  margin 5.5px
  width 175px
  height 175px
  display inline-block
  border-radius 100%
  transition box-shadow .25s ease-in-out

#green
  background-color $green
  border 5px solid $dark-green
  &:hover
    box-shadow inset 0px 0px 40px $dark-green
#blue
  background-color $blue
  border 5px solid $dark-blue
  &:hover
    box-shadow inset 0px 0px 40px $dark-blue
#red
  background-color $red
  border 5px solid $dark-red
  &:hover
    box-shadow inset 0px 0px 40px $dark-red
#yellow
  background-color $yellow
  border 5px solid $orange
  &:hover
    box-shadow inset 0px 0px 40px $orange


/*******************************
  BUTTONS CONTAINER
*******************************/
.buttons-container
  font-size 1rem
  margin 0
  #challenge_mode
    display block
    margin 10px auto
  button
  #level
    color $light-gray
    font-size 1em
    border-radius 5px
    border $gray-medium-border
    background none
    padding 1%
  button
    transition background .25s ease-in-out
  button:active
    box-shadow inset 0px 1px 5px black
  #level
    width 5%
    margin 5px auto
    font-size 2em


/*******************************
  TEXT CONTAINER
*******************************/
.rules
  margin 40px 0
  padding 0 150px
  h2
  p
    text-align left
    line-height 1.75em
  h2
    font-size 2em
  p
    font-size 1em


/*******************************
 BUTTON TRANSITIONS
*******************************/
#start:hover
  background $green
  color #fff

#reset:hover
  background $red
  color #fff

#challenge_mode:hover
  background $blue
  color #fff
