// VARIABLES
// =========================

//Colors
$gray-color = rgb(46, 57, 62)
$light-gray = #B8B8B8
$green = rgb(109,215,105)
$blue = rgb(115,205,204)
$red = rgb(254,73,83)
$yellow = rgb(253,251,94)
$orange = #FF9800
$white = #fff
$dark-green = #0C6F10
$dark-red = #87133B
$dark-blue = #3F51B5

//Borders
$white-border = 5px solid snow
$white-medium-border = 3px solid #fff
$gray-medium-border = 3px solid $light-gray

//Shadows
$box-shadow-dark = 0 0 20px rgb(161, 161, 161)
$box-shadow-medium = 0 1px 10px rgb(102, 102, 102)
$square-shadow = 0 0 10px rgb(168, 168, 168)
