@import "_vars"
@import "_simon"
@import "_media-queries"



/*******************************
  HTML / BODY
*******************************/
html
  font-size 16px

body
  font-family "Lato", helvetica, serif
  color $light-gray
